.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: rem(240);
  background-image: url('../../../assets/images/headers/mirador-1-cabecera.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: rem(0) rem(20);

  &__logo {
    margin-top: rem(18);
    height: rem(200);
    position: relative;
  }

  &__textContainer {
    margin-left: rem(40);
    margin-top: rem(40);
    font-family: $main-font;
  }

  &__subtitle {
    font-family: $main-font;
    font-size: rem(30);
    font-weight: lighter;
    color: $light-color;
    margin: 0;

    span {
      display: block;
    }
  }
}
