.header {
  display: flex;
  align-items: center;
  height: rem(124);
  background-color: $primary-color;
  padding: rem(8) rem(40);

  &__logo {
    height: rem(110);
  }

  &__textContainer {
    margin-left: rem(40);
    font-family: $main-font;
  }

  &__title {
    font-family: $main-font;
    color: $light-color;
    font-size: rem(40);
    font-weight: bold;
    margin: 0;
  }

  &__subtitle {
    font-family: $main-font;
    font-size: rem(18);
    color: $secondary-color;
    margin: 0;
  }
}
