.mirador {
  &__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $primary-color;
    padding: rem(16) rem(20);

    @include tablet {
      font-size: rem(20);
    }
  }

  &__subheaderTitle {
    color: $light-color;
    font-size: rem(18);
    width: rem(200);

    @include tablet {
      width: auto;
    }
  }

  &__menu {
    height: rem(40);
    width: rem(40);
    cursor: pointer;
  }

  &__introduction {
    margin: rem(20) rem(20) rem(20) rem(20);
    display: flex;
    flex-direction: column;
    font-size: rem(18);
  }

  &__introductionParagraph {
    margin-top: rem(10);
    font-family: $main-light-font;
  }

  &__introduction:last-child {
    margin-bottom: rem(20);
  }

  &__section {
    margin: rem(30) rem(20) rem(0) rem(20);
    display: flex;
    flex-direction: column;
  }

  &__sectionTitle {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: rem(20);
    margin-bottom: rem(20);
  }

  &__sectionText {
    font-family: $main-light-font;
    font-size: rem(18);
    margin-bottom: rem(20);
  }

  &__imageContainer {
    height: 100%;
    width: 100%;

    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    height: 100%;
    width: 100%;

    @include tablet {
      height: rem(500);
      width: auto;
    }

    &:not(:only-child) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__sectionLink {
    margin: rem(20) rem(0);
    font-size: rem(30);
    color: $secondary-color;
  }

  &__nextStep {
    margin-top: rem(30);
    padding: rem(10) rem(20);
    background-color: $primary-color;
    color: $light-color;
  }

  &__nextStepTitle {
    font-family: $secondary-font;
    margin-top: rem(20);
    font-size: rem(20);
  }

  &__descriptionWrapper {
    display: flex;
    justify-content: space-between;
  }

  &__nextStepDescription {
    font-family: $main-light-font;
    margin-top: rem(10);
    width: 80%;
    margin-bottom: rem(20);

    @include tablet {
      max-width: rem(700);
    }
  }

  &__arrowWrapper {
    height: rem(60);
    width: rem(60);
    margin-top: rem(20);
  }
}

.desktop-wrapper {
  max-width: rem(800);
  margin: auto;
}
