.mirador {
  &__subheader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: rem(48);
    background-color: $secondary-color;
    color: $primary-color;
    font-size: rem(14);
    padding: rem(8) rem(20);

    @include tablet {
      font-size: rem(20);
    }
  }

  &__introduction {
    margin: rem(20) rem(20) rem(20) rem(20);
    display: flex;
    flex-direction: column;
  }

  &__introductionParagraph {
    margin-top: rem(10);
    font-family: $main-light-font;
  }

  &__section {
    margin: rem(30) rem(20) rem(0) rem(20);
    display: flex;
    flex-direction: column;
  }

  &__sectionTitle {
    font-family: $secondary-font;
    color: $primary-color;
    font-size: rem(20);
    margin-bottom: rem(20);
  }

  &__sectionText {
    font-family: $main-light-font;
    font-size: rem(16);
    margin-bottom: rem(20);
  }

  &__imageWrapper {
    width: 100%;
  }

  &__image {
    height: 100%;
    width: 100%;
  }

  &__sectionLink {
    margin: rem(20) rem(0);
    font-size: rem(30);
    color: $secondary-color;
  }

  &__nextStep {
    margin-top: rem(30);
    padding: rem(10) rem(20);
    background-color: $primary-color;
    color: $light-color;
  }

  &__nextStepTitle {
    font-family: $secondary-font;
    margin-top: rem(20);
    font-size: rem(20);
  }

  &__nextStepDescription {
    font-family: $main-light-font;
    margin-top: rem(10);
  }
}

.desktop-wrapper {
  max-width: 1200px;
  margin: auto;
}
